/*
   * Navbar
*/

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.nav-col {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    -ms-flex-positive: 1!important;
    flex-grow: 1 !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.navbar-expand-sm .nav-col {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto !important;
}



@media (max-width: 767.98px) {
    .tog-collapse > .container,
    .tog-collapse > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .tog-collapse {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
    }
    .tog-collapse .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .tog-collapse .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .tog-collapse .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .tog-collapse > .container,
    .tog-collapse > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .tog-collapse .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .tog-collapse .navbar-toggler {
        display: none;
    }
}